<div class="container">
  <div class="side-menu">
    <button (click)="openModal()" class="btn" mat-raised-button color="warn">
      + New Task
    </button>
  </div>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <ng-container *ngIf="createdToDos.length === 0">
      <div class="noTodo" *ngFor="let createdToDo of createdToDos">
        No todo's created
      </div>
    </ng-container>
    <ng-container *ngIf="createdToDos.length !== 0">
      <div class="todo" *ngFor="let createdToDo of createdToDos">
        {{ createdToDo.todo }}
      </div>
    </ng-container>
    <div *ngIf="isOpen" (click)="closeModal()" class="overlay"></div>
    <div *ngIf="isOpen" class="modal">
      <mat-card class="card">
        <mat-card-content class="task-heading">New Task</mat-card-content>
        <textarea [(ngModel)]="textareaValue" matInput></textarea>
        <button (click)="onCreate()" mat-raised-button color="primary">
          Create
        </button>
      </mat-card>
    </div>
  </div>
</div>
