<mat-grid-list class="grid" cols="4" rowHeight="160px" gutterSize="32px">
  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'">
    <app-line-chart></app-line-chart>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <app-pie-chart></app-pie-chart>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <app-sales-email></app-sales-email>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="'white'">
    <app-recent-sales></app-recent-sales>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'">
    <app-bubble-chart></app-bubble-chart>
  </mat-grid-tile>
</mat-grid-list>
