<div class="loginBgImage">
  <mat-card class="card">
    <mat-card-header class="cardHeader">
      <img src="../../../assets/logo-dark.png" alt="logo-dark" />
    </mat-card-header>
    <div class="centered-line">Easily Using</div>
    <mat-card-content class="cardContent">
      <div class="socialMedia">
        <fa-icon class="twitter" [icon]="twitter"></fa-icon>
        <fa-icon class="facebook" [icon]="facebook"></fa-icon>
        <fa-icon class="google" [icon]="google"></fa-icon>
        <fa-icon class="github" [icon]="github"></fa-icon>
      </div>
      <div class="centered-line">OR Using Email</div>
    </mat-card-content>
  </mat-card>
</div>
