/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mat-mdc-menu-content {
  background-color: #fc6c6c !important;
  width: 200px;
}

.mdc-list-item__primary-text {
  color: white !important;
  font-weight: bold !important;
}

.pie-label {
  font-size: 14px !important;
}

.salesCardHeading {
  padding-top: 32px;
  font-size: 24px;
  margin-left: 48px;
}
